@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}


@import './variables.scss';
@import './typography.scss';
@import '~/ui-kit/styles/input.scss';
@import '~/ui-kit/styles/button.scss';
@import '~/ui-kit/styles/card.scss';
