:root {
    --color-primary: #6B40FF;
    --color-white: white;
    --color-black: #1a1a1a;
    --color-gray: gray;

    --border-color: #CBD2D0;
    --error-border-color: red;
    --error-text-color: red;
    --disabled-color: #E8E9F3;
    --backdrop-color: var(--color-gray);
    --backdrop-opacity: 0.3;
    --text-color: var(--color-black);
    --muted-color: var(--color-gray);
    --message-color: #a990ff;
    --message-list-color: #E7E0FF;
    --link-color: #0060df;

    --fw-medium: 500;

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
}
