@layer component {
    .message {
        display: flex;
        flex-direction: column;
        color: var(--text-color);
        border: solid 1px;
        padding: 8px 12px;
        border-radius: var(--radius-lg);
        margin-bottom: 4px;
        max-width: 600px;

        &-time {
            display: flex;
            align-self: flex-end;
            color: var(--text-color);
        }

        .message-content {
            white-space: pre-line;
            overflow-wrap: break-word;
            word-break: normal;
        }

        &.owners {
            align-self: flex-end;
            background-color: var(--message-color);
            border-color: var(--message-color);

            &:not(:has(+ &)) {
                border-end-end-radius: 0px;
                margin-bottom: 8px;
            }
        }
        &.others {
            align-self: flex-start;
            background-color: var(--color-white);
            border-color: var(--border-color);

            &:not(:has(+ &)) {
                border-end-start-radius: 0px;
                margin-bottom: 8px;
            }
        }
        & &-author {
            display: none;

            [data-sender] + & {
                display: block;
            }
        }
    }
}
